#canvas{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px;
    border-color: black;
    border-style: solid;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
}
