body {
 background-color: lightgray;
}

.java{
    top: 15px;
    right: 20px;
    height: 150px;
}

header {
    background-color: bisque;
    border: 2px solid #00008B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4pt;
    padding: 5px;
}

header h1 {
    color: green;
    font-size: 30px;
}

nav {
    background-color: lightskyblue;
    padding: 10px;
    margin: 4pt;
    text-align: center;
}

nav a {
    color: darkred;
    text-decoration: none;
    margin: 40px;
    font-weight: bold;
    font-size: 12px;
}

section {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

section h2{
    text-align: center;
}

section p {
    padding: 5pt;
    margin: 2pt;
    color:indigo;
}

.livros {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 20px 0;
}

.livros img {
    width: 150px;
    height: auto;
}

.contatos {
    background-color: lightgrey;
    border: 2px dashed red;
    display: inline-block;
    margin-top: 20px;
}

.tabela{
    color: red;
}

.rodape {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4pt;
    padding: 5px;
}
#videos{
    display: flex;
    gap: 100px;
    justify-content: center;
}

h2{
    text-align: center;
}
h4{
    text-align: center
    
}
.consulta {
    background-color: yellow;
    padding: 5px;
    width: 850px;
    height: 120px;
    margin: 20px auto;
    font-size: 16px;
}

.consulta a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    padding: px;
    height: 0px;
}


.consulta ul {
    list-style-type: none;
}

.html {
    height: 150px;
    width: 150px;
}

.css{
    height: 150px;
    width: 110px
}